<!--
  https://www.thepicketts.org/2012/12/how-to-remove-warning-the-log4net-element-is-not-declared/
  How to remove warning: The 'log4net' element is not declared.
  1. Download the log4net.xsd from http://csharptest.net/downloads/schema/log4net.xsd
  2. Move the log4net.xsd to Resources\log4net.xsd
  3. Select the log4net.xsd schema
     a. Open log4net.config
     b. Click XML menu option (appears only if an xml type file is selected)
     c. Locate log4net.xsd > change Use column to "Use this schema"
     d. Click ok.
-->
  
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="file" />
  </root>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="..\..\..\..\..\logs\Tips.ApiMessage.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level | Scope: %property{Api.Scope} | Logger: %logger%newlineTraceId: %property{Api.TraceId} | TraceStateString: %property{Api.TraceStateString}%newline%message%newline%exception%newline" />
    </layout>
  </appender>
</log4net>